# It's not good idea to show your cookies to everyone..
cookies.txt

# Credentials would contain your auth data. Don't show this file to anyone.
credentials.py

# PyCharm directory
.idea

build/*
__pycache__
*.pyc
calltracking_bitrix24CRM.egg-info/*
dist/*

